@model IEnumerable<EPS.Models.Batch>

@{
    ViewBag.Title = "Batches";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-sm-9 col-md-10 admin-main">
    <div class="col-md-12">
        <div class="padd-top well well-lg well-border">
            <h4>Service Years'</h4>
            <p>
                @Html.ActionLink("Create New", "CreateBatch")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BatchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BatchCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditBatch", new { id = item.Id }) |
                            @Html.ActionLink("Details", "BatchDetails", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteBatch", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>