@model IEnumerable<EPS.Models.Blog>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-sm-9 col-md-10 admin-main">
    <div class="col-md-12">
        <div class="padd-top well well-lg well-border">
            <h4>Blogs</h4>
            <p>
                @Html.ActionLink("Create New", "CreateBlog")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BloggerName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BloggerName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditBlog", new { id = item.Id }) |
                            @Html.ActionLink("Details", "BlogDetails", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteBlog", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>